.container.certifications__container {
    width: 80%;
    padding-bottom: 4rem;
}

.certificate_client__avatar {
    width: 12rem;
    height: 8rem;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.certification {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.client__review_certification {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
}

/* FIRST MEDIA QUERY FOR MEDIUM DEVICES */

@media screen and (max-width: 1024px){
    .container .certifications__container {
        width: 60%;
    }
}

/* FIRST MEDIA QUERY FOR SMALL DEVICES */

@media screen and (max-width: 600px){
    .container .certifications__container {
        width: var(--container-width-sm);
    }

    .client__review_certification {
        width: var(--container-width-sm);
    }
}